.main {
    border: 1px solid;
    border-color: black;
    height: 480px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

/* Clock styles */

.clock {
    color: blue;
}

.clock-time {
    font-size: 120px;
}

.clock-sub-row-1 {
    font-size: 40px;
    display: flex;
}


.clock-sub-row-2 {
    font-size: 30px;
    display: flex;
}

.flex-align-right {
    margin-left: auto;
}