#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main {
    border: 1px solid;
    border-color: black;
    height: 480px;
    width: 800px;
}

.menu {
    border: 1px solid;
    border-color: green;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.menuitem {
    height: 40px;
    font-size: 40px;
}

html, body {
    height: 100%;
    margin: 0px;
}

.flex-align-right {
    margin-left: auto;
}

/* Clock styles */

.clock-blue {
    color: blue;
}

#clock-time {
    font-size: 120px;
}

#clock-sub-row-1 {
    font-size: 40px;
    display: flex;
}

#clock-sub-row-2 {
    font-size: 30px;
    display: flex;
}

#clock-weather {
    font-size: 20px;
    margin-right: 10px;
}

/* Theming */

/* Light Theme */
.lightTheme .main {
    border-color: black;
}

.lightTheme .menu {
    border-color: green;
}

.lightTheme .clock-blue {
    color: blue;
}

.lightTheme .menuitem {
    color: black;
}

/* Dark Theme */
body.darkTheme {
    background-color: #212121;
}

.darkTheme .main {
    border-color: black;
}

.darkTheme .menu {
    border-color: black;
}

.darkTheme .clock-blue {
    color:#91198E;
}

.darkTheme .menuitem {
    color: #636363;
}